{% extends "base.html" %}
{% block content %}

<!-- Paddy Purchases Section -->
<div class="container mb-5 mt-5">
    {% if check == 1 %}
    <h2 class="mb-4"><span class="text-danger fw-bold">{{manager.full_name}}'s </span>Purchase History For Paddy</h2>
    {% else %}
    <h2 class="mb-4">Your Purchase History For Paddy from <span class="text-danger">Dealers</span></h2>
    {% endif %}

    {% if purchases_paddy %}
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Paddy Name</th>
                    <th>Dealer</th>
                    <th>Quantity (kg)</th>
                    <th>Price/Mon (৳)</th>
                    <th>Transport Cost (৳)</th>
                    <th>Total Price (৳)</th>
                    <th>Date</th>
                    <th>Payment Status</th>
                </tr>
            </thead>
            <tbody>
                {% for purchase in purchases_paddy %}
                

                    
                
                    
                <tr>
                    <td>{{ purchase.paddy.name }}</td>
                    <td>{{ purchase.paddy.dealer.user.username }}</td>
                    <td>{{ purchase.quantity_purchased }}</td>
                    <td>{{ purchase.paddy.price_per_mon }}</td>
                    <td>{{ purchase.transport_cost }}</td>
                    <td>{{ purchase.total_price }}</td>
                    <td>{{ purchase.purchase_date|date:"M d, Y h:i A" }}</td>
                    <td >
                        <div class="d-flex justify-content-center">
                            {% if request.user.role == "admin" %}
                                {% if purchase.payment %}
                                    <span class="btn btn-success">Paid</span>
                                {% else %}
                                    <a href="#" class="btn btn-sm btn-primary">Unpaid</a>
                                {% endif %}
                            {% else %}
                                {% if purchase.payment %}
                                    <span class="btn btn-success">Paid</span>
                                {% else %}
                                    <a href="{% url 'mock_paddy_payment' purchase.id %}" class="btn btn-sm btn-primary">Mock Pay</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No paddy purchases found.</p>
    {% endif %}
</div>

<hr>

<!-- Rice Purchases Section -->
<div class="container mt-5">
    {% if check == 1 %}
    <h2 class="mb-4"><span class="text-danger fw-bold">{{manager.full_name}}'s </span>Purchase History For Rice</h2>
    {% else %}
    <h2 class="mb-4">Your Purchase History For Rice from other <span class="text-danger">Manager's</span></h2>
    {% endif %}

    {% if purchases_rice %}
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Rice Name</th>
                    <th>Manager</th>
                    <th>Quantity (kg)</th>
                    <th>Price/kg (৳)</th>
                    <th>Delivery Cost (৳)</th>
                    <th>Total Price (৳)</th>
                    <th>Date</th>
                    <th>Payment</th>
                </tr>
            </thead>
            <tbody>
                {% for purchase in purchases_rice %}
                

                    
               
                    
                <tr>
                    <td>{{ purchase.rice.rice_name }}</td>
                    <td>{{ purchase.rice.manager.managerprofile.full_name }}</td>
                    <td>{{ purchase.quantity_purchased }}</td>
                    <td>{{ purchase.rice.price_per_kg }}</td>
                    <td>{{ purchase.delivery_cost }}</td>
                    <td>{{ purchase.total_price }}</td>
                    <td>{{ purchase.purchase_date|date:"M d, Y h:i A" }}</td>
                    <td >
                        <div class="d-flex justify-content-center">
                            {% if request.user.role == "admin" %}
                                {% if purchase.payment %}
                                    <span class="btn btn-success">Paid</span>
                                {% else %}
                                    <a href="#" class="btn btn-sm btn-primary">Unpaid</a>
                                {% endif %}
                            {% else %}
                                {% if purchase.payment %}
                                    <span class="btn btn-success">Paid</span>
                                {% else %}
                                    <a href="{% url 'mock_rice_payment' purchase.id %}" class="btn btn-sm btn-primary">Mock Pay</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </td>
                </tr>
                
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No rice purchases found.</p>
    {% endif %}


</div>


<hr>

<!-- Rice selling Section to customer-->
<div class="container mt-5">
    {% if check == 1 %}
    <h2 class="mb-4"><span class="text-danger fw-bold">{{manager.full_name}}'s </span>Selling History For Rice</h2>
    {% else %}
    <h2 class="mb-4">Your Selling History For Rice to <span class="text-danger">Customer's</span></h2>
    {% endif %}

    {% if seling_rice %}
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Rice Name</th>
                    {% if  request.user.role == "manager" or request.user.role == "admin"%}
                            <th>Customer</th>
                        {% else %}
                            <th>Manager</th>
                        {% endif %}
                    
                    <th>Quantity (kg)</th>
                    <th>Price/kg (৳)</th>
                    <th>Delivery Cost (৳)</th>
                    <th>Total Price (৳)</th>
                    <th>Date</th>
                    <th>Payment</th>
                </tr>
            </thead>
            <tbody>
                {% for purchase in seling_rice %}
                

                    
                
                    
                <tr>
                    <td>{{ purchase.rice.rice_name }}</td>
                    {% comment %} <td>{{ purchase.rice.manager.managerprofile.full_name }}</td> {% endcomment %}
                    <td>
                        {% if request.user.role == "manager" or request.user.role == "admin" %}
                            {% if purchase.customer.customerprofile %}
                                {{ purchase.customer.customerprofile.full_name }}
                            {% else %}
                                {{ purchase.customer.username }}
                            {% endif %}
                        {% else %}
                            {% if purchase.rice.manager.managerprofile %}
                                {{ purchase.rice.manager.managerprofile.full_name }}
                            {% else %}
                                {{ purchase.rice.manager.username }}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>{{ purchase.quantity_purchased }}</td>
                    <td>{{ purchase.rice.price_per_kg }}</td>
                    <td>{{ purchase.delivery_cost }}</td>
                    <td>{{ purchase.total_price }}</td>
                    <td>{{ purchase.purchase_date|date:"M d, Y h:i A" }}</td>
                    <td >
                        <div class="d-flex justify-content-center">
                            {% if request.user.role == "admin" %}
                                {% if purchase.payment %}
                                    <span class="btn btn-success">Paid</span>
                                {% else %}
                                    <a href="#" class="btn btn-sm btn-primary">Unpaid</a>
                                {% endif %}
                            {% elif request.user.role == "manager" %}
                                {% if purchase.payment %}
                                    <span class="btn btn-success">Paid</span>
                                {% else %}
                                    <a href="#" class="btn btn-sm btn-primary">Unpaid</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </td>
                </tr>
               
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No rice has been sold yet.</p> <!-- in selling_rice -->
    {% endif %}

</div>

<hr>

<!-- Rice selling Section to manager-->
<div class="container mt-5">
    {% if check == 1 %}
    <h2 class="mb-4"><span class="text-danger fw-bold">{{manager.full_name}}'s </span>Selling History For Rice</h2>
    {% else %}
    <h2 class="mb-4">Your Selling History For Rice to <span class="text-danger">Manager</span></h2>
    {% endif %}

    {% if seling_rice_to_managers %}
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Rice Name</th>
                    <th>Manager</th>
                    <th>Quantity (kg)</th>
                    <th>Price/kg (৳)</th>
                    <th>Delivery Cost (৳)</th>
                    <th>Total Price (৳)</th>
                    <th>Date</th>
                    <th>Payment</th>
                </tr>
            </thead>
            <tbody>
                {% for purchase in seling_rice_to_managers %}
                <tr>
                    <td>{{ purchase.rice.rice_name }}</td>
                    {% comment %} <td>{{ purchase.rice.manager.managerprofile.full_name }}</td> {% endcomment %}
                    <td>
                        {% if request.user.role == "manager" or request.user.role == "admin" %}
                            {% comment %} {% if purchase.customer.customerprofile %}
                                {{ purchase.customer.customerprofile.full_name }}
                            {% else %}
                                {{ purchase.customer.username }}
                            {% endif %} {% endcomment %}
                            {{purchase.manager.managerprofile.full_name}}
                        {% else %}
                            {% if purchase.rice.manager.managerprofile %}
                                {{ purchase.rice.manager.managerprofile.full_name }}
                            {% else %}
                                {{ purchase.rice.manager.username }}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>{{ purchase.quantity_purchased }}</td>
                    <td>{{ purchase.rice.price_per_kg }}</td>
                    <td>{{ purchase.delivery_cost }}</td>
                    <td>{{ purchase.total_price }}</td>
                    <td>{{ purchase.purchase_date|date:"M d, Y h:i A" }}</td>
                    <td >
                        <div class="d-flex justify-content-center">
                            {% if request.user.role == "admin" %}
                                {% if purchase.payment %}
                                    <span class="btn btn-success">Paid</span>
                                {% else %}
                                    <a href="#" class="btn btn-sm btn-primary">Unpaid</a>
                                {% endif %}
                            {% elif request.user.role == "manager" %}
                                {% if purchase.payment %}
                                    <span class="btn btn-success">Paid</span>
                                {% else %}
                                    <a href="#" class="btn btn-sm btn-primary">Unpaid</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </td>
                </tr>
               
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No rice has been sold yet.</p> <!-- in selling_rice -->
    {% endif %}



    
        {% if request.user.role == "admin" %}
        <a href="{% url 'see_all_manager' %}" class="btn btn-success mt-4">Back</a>
        {% else %}
        <a href="{% url 'manager_dashboard' %}" class="btn btn-success mt-4">Back</a>
        {% endif %}
</div>

{% endblock %}