{% extends 'base.html' %}

{% block title %}Customer Dashboard{% endblock title %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">👨‍🏭 Welcome to the Customer Dashboard</h2>

    <div class="row g-4">
        <!-- Profile Section -->
        <div class="col-md-6">
            <div class="card shadow-sm h-100">
                <div class="card-body">
                    <h5 class="card-title">📝 Profile</h5>
                    <p class="card-text">View or update your manager profile details.</p>
                    <a href="{% url 'customer_profile' %}" class="btn btn-primary">View Profile</a>
                    <a href="{% url 'update_customer_profile' %}" class="btn btn-outline-secondary">Edit Profile</a>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="card shadow-sm h-100">
                <div class="card-body">
                    <h5 class="card-title">📝 Explore rice post</h5>
                    <p class="card-text">Let's see all marketpalce rice post</p>
                    <a href="{% url 'explore_all_rice_post' %}" class="btn btn-primary">Explore</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card shadow-sm h-100">
                <div class="card-body">
                    <h5 class="card-title">📝 Purchases history</h5>
                    <p class="card-text">Let's see all my purchases history</p>
                    <a href="{% url 'rice_purchases_history' %}" class="btn btn-primary">History</a>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock content %}

{% comment %} 
username : manager
password : sakib@1234
{% endcomment %}
{% comment %} 
username : customer
password : soumik@1234
{% endcomment %}