{% extends "base.html" %}


{% block title %}Login{% endblock title %}
    

{% block content %}
   <h1>Home page</h1>
    <p>Welcome to the home page!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem veritatis laudantium animi commodi consectetur, mollitia enim repudiandae, adipisci eveniet dicta facilis odit aliquid possimus dignissimos exercitationem? Cumque dicta necessitatibus quas.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod exercitationem corporis consectetur, omnis unde quis accusantium voluptates dignissimos qui fuga saepe, earum asperiores explicabo nam minus aut. Quasi, porro animi!</p>
{%endblock%}
